/*body for indexen spesifikt*/
.bodyIntro{
    background-color: burlywood;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}
/*body for resten av sidene*/
.body{
    background-color: white;
    margin: 0;
    background-color: burlywood;
    font-family: sans-serif;
}
/*Navbar for alle sidene*/
.navbar {
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #7B3F00 30%, burlywood );
    position: sticky;
    width: 100%;
    top: 0px;
    height: 50px;

  }
  /*spesefikt design på teksten*/
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding-left: 10px;
    text-decoration: none;
    text-shadow: 1px 1px black;
    padding-left: 20px;
  }
 /*spesefikt design på posisjon*/
  .navbartxt{
   float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 13px;
  }
  .navbar a:hover {
    color: black;
    text-shadow: none;
  }
/*Footer for alle sidene*/
footer{
    position: fixed;
    background-color: #be8f5bb6;
    width: 100%;
    height: 150px;
    bottom: 0;
}
/*designe for selve footeren*/
/* mulig for telefon del
.row{
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    align-content: center;
}*/
.column{
    float: left;
    width: 33%;
    color: black;
    margin-bottom: 20%;
    line-height: 20px;
    text-align: center;
    font-family: sans-serif, "Montserrat";
    letter-spacing: -1px;
}
.column a{
    color: black;
    text-decoration: none;
    border-style: hidden hidden dotted hidden;
    border-color: wheat;
}
.column p{
    text-align: center;
}
.column a:hover{
    color: black;
    text-decoration: none;
    border-style: hidden hidden dotted hidden;
    border-color: black;
}
/*fotter tittel(T) og text(U) design for alle sidene*/
.footerT{
    font-size: 15px;
    font-weight: bold;
}
.footerU{
    text-align: left;
    line-height: 25px;

}
#logo{
    font-family: 'Frest Style', sans-serif;
    font-size: 14px;

}
h1{
    text-align: center;
    font-size: 60px;
    color: #30110D;
}
/*Txt design intro side*/
#introtxt{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    color: #30110D;
}
