/*body for indexen spesifikt*/
.bodyIntro{
    background-color: burlywood;
    background-image: url(bilder/bakgrunn.jpg);
    background-size: cover;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}
#FramsideTxt{
    background-color: rgba(222, 184, 135, 0.773);
    margin-top: 0;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
}
#BildeL{
    color: black;
}
/*body for resten av sidene*/
.body{
    margin: 0;
    background-color: burlywood;
    font-family: sans-serif;
    height: auto;
}
/*Navbar for alle sidene*/
.navbar {
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #7B3F00 30%, rgb(222, 184, 135) );
    position: sticky;
    width: 100%;
    top: 0px;
    height: auto;
    
  }
  /*spesefikt design på teksten*/
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-shadow: 1px 1px black;
  }
 /*spesefikt design på posisjon
  .navbartxt{
   float: left;
    display: block;
    text-align: center;
    text-decoration: none;
  } vi er usikre på om den her en funksjon, annen kode gjorde dette unødvendig intil videre*/
  .navbar a:hover {
    color: black;
    text-shadow: none;
  }
  /*Navbar for menysiden bare for side 3*/
  .MenyNav {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    top: 0px;
    height: 50px;
    justify-content: center;
  }
  /*spesefikt design på teksten*/
  .MenyNav a {
    color: #30110D;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    line-height: 50px;
  }
  .MenyNav a:hover {
    color: white;
    text-shadow: none;
  }
/*Footer for alle sidene*/
footer{
    position: absolute;
    background-color: #be905b;
    width: 100%;

}
.column{
    float: left;
    width: 33%;
    color: black;
    margin-bottom: 20%;
    line-height: 20px;
    text-align: center;
    font-family: sans-serif, "Montserrat";
    letter-spacing: -1px;
}
.column a{
    color: black;
    text-decoration: none;
    border-style: hidden hidden dotted hidden;
    border-color: wheat;
}
.column p{
    text-align: center;
}
.column a:hover{
    color: black;
    text-decoration: none;
    border-style: hidden hidden dotted hidden;
    border-color: black;
}
/*fotter tittel(T) og text(U) design for alle sidene*/
.footerT{
    font-size: 15px;
    font-weight: bold;
}
.footerU{
    text-align: left;
    line-height: 25px;

}
/*logo for nettsiden*/
#logo{
    font-family: 'Frest Style', sans-serif;
    font-size: 14px;

}
h1{
    text-align: center;
    font-size: 60px;
    color: #30110D;
}
h2{
    text-align: center;
    text-decoration: underline;
    padding-top: 25px;
}
h3{
    text-align: left;
    font-size: 70px;
    margin: 0;
    width: 40%;
    padding: 15px;
    
}
h4{
    text-align: center;
    font-size: 25px;
}
h5{
    text-align: center;
    font-size: 60px;
    color: #30110D;
}
h6{
    text-align: center;
    font-size: 45px;
    position: static;
    top: 10%;
    margin: 2%;
}
/*Txt design intro side*/
#introtxt{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30%;
    padding-bottom: 10%;
    color: #30110D;
    line-height: 25px;
}
/*strekene mellom de forskjellige tingene i menyen*/
hr{
    width: 50%;
    background-color: #7B3F00;
    border: none;
    height: 1px;
}
/*menybox for matrettene på menyen på side 3 inspirert ifra W3school*/
.menyBox {
    display: flex;
    flex-wrap: wrap;
    position: static;
    justify-content: center;
    height: auto;
}
  
.menyBox > div {
    color: #30110D;
    margin: 5%;
    width: 40%;
    min-width: 300px;
    text-align: left;
    font-size: 20px;
}
/*Designer oppsett for matretter på menysiden*/
.kroner{
    float: right;
    font-weight: bold;
}
 .rett{
    font-weight: bold;
}

.ingred{
    display: block;
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
    padding-bottom: 20px;
}

/*Opp og Ned knapp for menysiden istedenfor sticky menybar*/
#menyK {
    display: flex;
    position: fixed;
    height: auto;
    flex-direction: column;
    /*margin-left: 94%;
    margin-right: 1%;*/
    right: 1%;
    top: 20%;
}
  
#menyK > div {
    color: #30110D;
    border: solid;
    border-radius: 5px;
    margin: 1px;
    width: auto;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    padding: 5px;
    rotate: -90deg;
}
#menyK a{
    text-decoration: none;
    color: #30110D;
}
/*anker for menybaren og menyknappen*/
.anker {
    padding-top: 60px;
    left: 0px;
}

/*Side 5 oppsett, side, header, tekstboks*/
.s5header{
    width: 100%;
    height: auto;
    background-color: burlywood;
    position: static;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.s5side{
    flex: auto;
    max-width: 10%;
    left: 0;
    margin: 0;
    min-height: 100%;
    background-color: burlywood;
    text-align: center;
}

.s5side p{
    margin: 0;
}

.s5main{
    flex: 35%;
    width: 35%;
    margin: 5%;
}

.s5main p{
    width: 35%;
}

/*.tips{
    display: inline-block;
    position: relative;
    width: 25%;
}

.tips.tiptxt {
    visibility: hidden;
    text-align: center;
    background-color: gray;
    padding: 5px;
    border-radius: 8px;
    width: 50%;
    margin-left: 25%;

}

.tips:hover{
    visibility: visible;
}*/
.bilde{
    height: auto;
    width: 44%;
    min-width: 400px;
}
.oppgbox{
    display: flex;
    flex-wrap: wrap;
}
.oppgbox p{
    flex: 47%;
    padding: 1%;
    margin: 1%;
    line-height: 25px;
}
.oppgbox img{
    flex: 49%;
}
#bTxt{
    font-size: 12px;
    position: static;
    text-align: right;
    margin: 0;
    padding: 0;
    width: auto;
}
#bTxt2{
    font-size: 12px;
    position: static;
    margin: 0;
    padding: 0;
    width: auto;
}
#Kontakt{
    text-align: left;
    line-height: 25px;
    margin-left: 20%;
    margin-right: 20%;
}
#Kontakt a{
    color: black;
}
#BookingB{
    width: 60%;
    height: auto;
    border-radius: 15px;
    margin-left: 20%;
}
/*style for side 4 */
.side4{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10%;
}
#WaveBilde{
flex: 30%;
}
#Side4Txt{
flex: 50%;
line-height: 25px;
}

@media screen and (max-width: 450px){
    .s5side{
        max-width: 0%;
    }
    .bilde{
        min-width: 300px;
    }
    h3{
        font-size:50px;
    }
    h1{
        font-size: 25px;
    }
    #FramsideTxt{
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 20%;
    }
    #introtxt{
        margin-left: 10%;
        margin-right: 10%;
    }

}