/*body for indexen spesifikt*/
.bodyIntro{
    background-color: white;
    margin: 0;
}
/*body for resten av sidene*/
.body{
    background-color: white;
    margin: 0;
}
/*Navbar for alle sidene*/
.navbar {
    overflow: hidden;
    background-color: #252626;
    position: sticky;
    width: 100%;
    top: 0px;
    height: 50px;

  }
 
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding-left: 10px;
    text-decoration: none;
  }
 
  .navbartxt{
   float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 13px;
  }
 
  .navbartxt a{
   padding-left: 20px;
  }
 
  .navbar a.right {
    float: none;
  }
 
  .navbar a:hover {
    background-color: #252626;
    color: black;
  }
/*Footer for alle sidene*/
  footer{
    position: relative;
}
/*designe for selve footeren*/
.column{
    float: left;
    width: 24%;
    color: black;
    margin-top: 10%;
    line-height: 20px;
    text-align: left;
    font-family: sans-serif, "Montserrat";
    letter-spacing: -1px;
    margin-left: 1%;
}
/*fotter tittel(T) og text(U) design for alle sidene*/
.footerT{
    font-size: 15px;
    font-weight: bold;
}
.footerU{
    text-align: left;
    line-height: 25px;

}
.column a{
    color: black;
    text-decoration: none;
    border-style: hidden hidden dotted hidden;
    border-color: silver;
}
.column a:hover{
    color: black;
    text-decoration: none;
    border-style: hidden hidden dotted hidden;
    border-color: black;
}
/*Mulig text design for logo?
#logo{
    font-family: 'Brush Script MT', cursive;
}*/